:root {
  /* Primary */
  --orange: hsl(25, 97%, 53%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);

  /* Body Copy */
  --font-size: (paragraph): 15px;
}

.App {
  background-color: var(--very-dark-blue);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  color: var(--light-grey);
  line-height: 1.5;
  font-family: 'Overpass', sans-serif;
}

.submit-container {
  background-color: var(--dark-blue);
  border-radius: 10px;
  width: 285px;
  height: auto;
  padding: 20px;
}

.checked {
  color: var(--orange);
}
.fa-star {
  font-size: 16px;
  background-color: hsl(213, 21%, 23%);
  border-radius: 20px;
  margin: 5px 0;
  padding: 12px;
}

h1 {
  font-size: 24px;
  color: var(--white);
  line-height: 1;
}

.btn {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  background-color: hsl(213, 21%, 23%);
  font-weight: bold;
  color: var(--light-grey);
  height: 43px;
  width: 43px;
  border-radius: 50%;
  border: none;
}
button:hover {
  background-color: var(--orange);
  color: var(--white);
  cursor: pointer;
}
.active {
  background-color: var(--light-grey);
  color: var(--white);
}

.submit-btn {
  background-color: var(--orange);
  border-radius: 20px;
  width: 100%;
  font-weight: bold;
  color: var(--white);
  margin-top: 10px;
  margin-bottom: 15px;
}
.submit-btn:hover {
  background-color: var(--white);
  color: var(--orange);
  cursor: pointer;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }